/* GLOBAL STYLES */
html, body {
    margin: 0;
    padding: 0;
}

div {
    border: 1px solid #008000;
}

h1 {
    font-size: 7vw;
    margin-top: 0;
}

a {
    color:#d430e3;
}

li {
    border: 1px solid #00f;
}

li a {
    color: #90ee90;
}

/* HERO STYLES*/
.full-hero {
    background-color: #c7dbfc;
    height: 50vw;
    width: 50vw;
}

/* SOCIAL STYLES */
.social-link {
    background-color: rgba(255,255,17, 0.6);
    color: #00f;
}

/* BIO STYLES */
.bio-wrapper {
    width: 800px;
    font-size: 24px;
}

.bio-box {
    border: 1px solid #000;
    background-color: #f0ffff;
    font-size: 1rem;
    margin: 5%;
    padding: 10px;
    width: 80%;
}

.bio-box h3 {
    font-size: 1.5em;
}

.bio-copy a {
    color: #008000;
}

/* MISC. */
p.highlighted {
    background: #008080;
    font-size: 1em;
    margin: 20px auto;
    padding: 10px;
    width: 500px;
}