/* GLOBAL STYLES */
body {
    margin: 0px auto;
    width: 800px;
}

a {
    color:red;
}

li {
    border: 1px solid blue;
}

li a {
    color: lightgreen;
}

.social-link {
    color: blue;
}

/* BIO STYLES */
.bio-box {
    border: 1px solid black;
    background-color: azure;
}

.bio-copy a {
    color: green;
}

/* MISC. */
p.highlighted {
    background: yellow;
    font-size: 1em;
    margin: 20px auto;
    padding: 10px;
    width: 500px;
}