---
layout: default
---

<div class="home">
    <div class="full-hero hero-home">
        <div class="hero-content">
            <h1>Summer Moon</h1>
            <ul class="social-list">
              {% include social-links.html %}
            </ul>
        </div>
    
    </div>
    
    <div class="home-callout">
        <h1 class="callout-title">Learn more</h1>
    
        <div class="callout-copy">
            <p>If you, like me, enjoy discovering books by seeing what others have read, take a look at my <a href="https://stefcoetzee.com/bookshelf/" target="_blank" rel="noreferrer">bookshelf</a>. If you’d like to read something I wrote, head over to the <a href="https://stefcoetzee.com/writing/" target="_blank" rel="noreferrer">writing page</a>. Naturally, all views are my own.</p>
    
            <p>Except, of course, the ones that aren’t. Those views belong to their respective holders. Whoever they may be. Cancel culture helps no one. Sooner or later everyone’ll get cancelled.</p>
        </div>
    
    </div>
    
    <div class="home-section">
        <h4>Most Recent Post</h4>
        {% for post in site.posts limit:1%}
            {% include post-excerpt.html %}               
        {% endfor %}
        </ul>
    </div>

    <div class="home-section">
    
        <h2>The headingest heading</h2>
    
        <p>Hi, I’m Stef. I see technological development as the central focus of my professional life.</p>
    
        <div class="bio-wrapper">
            <div class="bio-box">
    
            <img src="https://placekitten.com/g/400/400">
    
            <h3>Stef Coetzee</h3>
    
            <a class="social-link show" href="https://twitter.com/stef_coetzee" target="_blank" rel="noreferrer">Tw</a>
    
                <div class="bio-copy">
                    <p>I currently work as a entry-level engineer in the field of control and automation. Previously, I obtained a master’s degree in electrical engineering, with focus on residential renewable energy optimization, at Stellenbosch University, South Africa. Prior to that, I completed a bachelor’s degree in electrical and electronic engineering, also at S.U.</p>
                    
                </div>
            </div>
    
            <div class="bio-box">
    
                <img src="https://placekitten.com/g/400/400">
    
                <h3>Sum Hwan</h3>
        
                <a class="social-link show" href="https://twitter.com/stef_coetzee" target="_blank" rel="noreferrer">Tw</a>
    
                <div class="bio-copy">
                    <p>I currently work as a entry-level engineer in the field of control and automation. Previously, I obtained a master’s degree in electrical engineering, with focus on residential renewable energy optimization, at Stellenbosch University, South Africa. Prior to that, I completed a bachelor’s degree in electrical and electronic engineering, also at S.U.</p>
                    <a href="https://example.com/">I'm a link</a>
                </div>
            </div>
    
            <div class="bio-box">
    
                <img src="https://placekitten.com/g/400/400">
    
                <h3>Ed Cetera</h3>
        
                <a class="social-link show" href="https://twitter.com/stef_coetzee" target="_blank" rel="noreferrer">Tw</a>
    
                <div class="bio-copy">
                    <p>If you, like me, enjoy discovering books by seeing what others have read, take a look at my <a href="https://stefcoetzee.com/bookshelf/" target="_blank" rel="noreferrer">bookshelf</a>. If you’d like to read something I wrote, head over to the <a href="https://stefcoetzee.com/writing/" target="_blank" rel="noreferrer">writing page</a>. Naturally, all views are my own.</p>
                </div>
            </div>
    
        </div>
    
    </div>
</div>


